h1{
    font-family: 'Bebas Neue', sans-serif;

}
.p1{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;

}
.p2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;

}
.p3{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
}